/src/.vs
/SocialPlatformApp/.vs
/SocialPlatformApp/Authentication.Contracts/obj
/SocialPlatformApp/Authentication.Persistence/obj
/SocialPlatformApp/Authentication.Presentation/obj
/SocialPlatformApp/Authentication.Services/obj
/SocialPlatformApp/Authentication.Services.Abstraction/obj
/SocialPlatformApp/Authentication.UnitTests/obj
/SocialPlatformApp/Authtentication.Domain/obj
/src/Services/Authentication/Authentication.API/bin/Debug/net6.0
/src/Services/Authentication/Authentication.API/obj
/src/Services/Authentication/Core/Authentication.Contracts/bin/Debug/net6.0
/src/Services/Authentication/Core/Authentication.Contracts/obj
/src/Services/Authentication/Core/Authentication.Services/bin/Debug/net6.0
/src/Services/Authentication/Core/Authentication.Services/obj
/src/Services/Authentication/Core/Authentication.Services.Abstraction/bin/Debug/net6.0
/src/Services/Authentication/Core/Authentication.Services.Abstraction/obj
/src/Services/Authentication/Core/Authtentication.Domain/bin/Debug/net6.0
/src/Services/Authentication/Core/Authtentication.Domain/obj
/src/Services/Authentication/Infrastructure/Authentication.Persistence/bin/Debug/net6.0
/src/Services/Authentication/Infrastructure/Authentication.Persistence/obj
/src/Services/Authentication/Infrastructure/Authentication.Presentation/bin/Debug/net6.0
/src/Services/Authentication/Infrastructure/Authentication.Presentation/obj
/src/Services/Authentication/Tests/Authentication.UnitTests/bin/Debug/net6.0
/src/Services/Authentication/Tests/Authentication.UnitTests/obj
/src/Services/Authentication/Authentication.API/appsettings.Development.json
/src/Services/Space/Space.API/obj
/src/Services/Space/Space.API/appsettings.Development.json
/src/Services/Space/Space.API/bin/Debug/net6.0
/src/Services/Space/Core/Space.Contracts/bin/Debug/net6.0
/src/Services/Space/Core/Space.Contracts/obj
/src/Services/Space/Core/Space.Domain/bin/Debug/net6.0
/src/Services/Space/Core/Space.Domain/obj
/src/Services/Space/Core/Space.Services/bin/Debug/net6.0
/src/Services/Space/Core/Space.Services/obj
/src/Services/Space/Core/Space.Services.Abstraction/bin/Debug/net6.0
/src/Services/Space/Core/Space.Services.Abstraction/obj
/src/Services/Space/Infrastructure/Space.Persistence/bin/Debug/net6.0
/src/Services/Space/Infrastructure/Space.Persistence/obj
/src/Services/Space/Infrastructure/Space.Presentation/bin/Debug/net6.0
/src/Services/Space/Infrastructure/Space.Presentation/obj
/src/Services/Space/Tests/Space.UnitTests/bin/Debug/net6.0
/src/Services/Space/Tests/Space.UnitTests/obj
/src/Services/Space/Infrastructure/Space.Common/bin/Debug/net6.0
/src/Services/Space/Infrastructure/Space.Common/obj
/.vs
/src/EventBus/EventBus.Core/bin/Debug/net6.0
/src/EventBus/EventBus.Core/obj
/src/EventBus/EventBus.RabbitMQ/bin/Debug/net6.0
/src/EventBus/EventBus.RabbitMQ/obj
