/SocialPlatformApp/.vs/SocialPlatformApp/v17
/SocialPlatformApp/.vs/SocialPlatformApp/config
/SocialPlatformApp/Authentication.API/bin/Debug/net6.0
/SocialPlatformApp/Authentication.API/obj/Debug/net6.0
/SocialPlatformApp/Authentication.API/obj
/SocialPlatformApp/Authentication.Persistence/bin/Debug/net6.0
/SocialPlatformApp/Authentication.Persistence/obj
/SocialPlatformApp/Authtentication.Domain/bin/Debug/net6.0
/SocialPlatformApp/Authtentication.Domain/obj
/SocialPlatformApp/.vs/ProjectEvaluation
/SocialPlatformApp/.vs/SocialPlatformApp/DesignTimeBuild
/SocialPlatformApp/Authentication.Contracts/bin/Debug/net6.0
/SocialPlatformApp/Authentication.Contracts/obj
/SocialPlatformApp/Authentication.Services.Abstraction/bin/Debug/net6.0
/SocialPlatformApp/Authentication.Services.Abstraction/obj
/SocialPlatformApp/Authentication.Services/bin/Debug/net6.0
/SocialPlatformApp/Authentication.Services/obj/Debug/net6.0/ref/Authentication.Services.dll
/SocialPlatformApp/Authentication.Services/obj
/SocialPlatformApp/Authentication.Presentation/bin/Debug/net6.0
/SocialPlatformApp/Authentication.Presentation/obj/Debug/net6.0/ref/Authentication.Presentation.dll
/SocialPlatformApp/Authentication.Presentation/obj
/SocialPlatformApp/Authentication.Services.Tests/obj/Debug/net6.0
/SocialPlatformApp/.vs/SocialPlatformApp/FileContentIndex
/SocialPlatformApp/Authentication.UnitTests/bin/Debug/net6.0
/SocialPlatformApp/Authentication.UnitTests/obj
