.hero {
  background-blend-mode: multiply;
  background-color: var(--bodyBackgroundColor);
  background-image: url("https://unsplash.it/1680/1050");
  background-size: cover;
  display: grid;
  height: 60vh;
  place-items: center;
}

.heroContainer {
  margin-inline: auto;
  max-width: 100em;
  padding: 1em;
  text-align: center;
}

.heroContainer h1 {
  font-size: 4rem;
}

.heroContainer p {
  font-size: 1.125rem;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin-inline: auto;
  max-width: 100em;
  padding: 2em;
}

.card {
  aspect-ratio: 1 / 1.5;
}

.cardContent {
  align-self: end;
  background: white;
  box-shadow: 0 0.25rem 1rem rgb(0, 0, 0 / 0.1);
  margin: 0.5rem 0.5rem 2rem;
  padding: 0.5em;
}

.cardImage {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
}

.cardTitle {
  color: firebrick;
  font-size: 1.25rem;
  line-height: 1.1;
}

.cardDescription {
  font-size: 0.8rem;
}
