.container {
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  min-height: 100vh;
  padding: 2rem;
  max-width: 100rem;
  margin-inline: auto;
}

.card {
  aspect-ratio: 1 / 1.5;
}

.cardContent {
  background: white;
  align-self: end;
  margin: 0.5rem 0.5rem 2rem;
  padding: 0.5rem;
  box-shadow: 0 0.25rem 1rem rgb(0, 0, 0 / 0.1);
}

.cardImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.cardFeatured {
}

.cardTitle {
  font-size: 1.25rem;
  line-height: 1.1;
  color: firebrick;
}

.cardDescription {
  font-size: 0.8rem;
}
