.container {
  /* Position the container at the center of the viewport */
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.grid {
  /* Set the center grid item's width to 90% of the screen
  but limit the max size to 25rem  */
  inline-size: 90%;
  max-inline-size: 25rem;
}

.form {
  color: var(--authColor);
  display: grid;
  gap: var(--authFormGap);
}

.field {
  display: flex;
}

.input,
.submit {
  background-image: none;
  border: 0;
  color: inherit;
  flex: 1;
  font: inherit;
  inline-size: 100%;
  margin: 0;
  outline: 0;
  transition: background-color 0.3s;
}

.label,
.input,
.submit {
  border-radius: var(--authBorderRadius);
  padding: 1rem;
}

.label {
  background-color: var(--authLabelBackgroundColor);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-inline: 1.25rem;
}

.input {
  background-color: var(--authInputBackgroundColor);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input:focus,
.input:hover {
  background-color: var(--authInputHoverBackgroundColor);
}

.submit {
  background-color: var(--authSubmitBackgroundColor);
  color: var(--authSubmitColor);
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

.submit:focus,
.submit:hover {
  background-color: var(--authSubmitHoverBackgroundColor);
}

.icons {
  display: none;
}

.icon {
  block-size: 1em;
  display: inline-block;
  fill: var(--authIconFill);
  inline-size: 1em;
  vertical-align: middle;
}

.text {
  margin-block: 1.5rem;
  text-align: center;
}
