.container {
  display: grid;
  grid-auto-flow: row;
  grid-template-areas:
    "nav"
    "sidebar"
    "content";
}

.mainNav,
.sidebar,
.header {
  padding: 1em;
}

.mainNav ul,
.sidebar div {
  display: flex;
}

.contentContainer {
  padding: 1em 5em;
}

/* MAIN NAV */

.mainNav {
  background-color: rgba(0, 0, 0, 0.3);
  grid-area: nav;
}

.mainNav img {
  border-radius: 25px;
  cursor: pointer;
}

.mainNav li:first-child img,
.mainNav li:last-child img {
  border-radius: 10px;
}

.mainNav ul {
  flex-wrap: nowrap;
  gap: 0.5em;
  list-style: none;
  margin: 0;
  overflow-x: auto;
  padding: 0;
}

.mainNav li {
  flex: 0 0 auto;
}

/* SIDEBAR */

.sidebar {
  background-color: rgba(0, 0, 0, 0.1);
  grid-area: sidebar;
  overflow-y: scroll;
}

.sidebar h2 {
  color: var(--appTextColor);
  padding-bottom: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.sidebar div {
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.sidebar button {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--baseColor);
  color: var(--appTextColor);
  cursor: pointer;
}

/* CONTENT */
.content {
  grid-area: content;
}

/* HEADER */

.header {
  background: linear-gradient(-32deg, #19568d 0%, #836cb2 100%);
  color: var(--appTextColor);
  display: grid;
  grid-area: header;
  padding: 1em 0.5em;
  place-items: center;
}

.header div {
  inline-size: 80%;
  max-width: 50em;
  text-align: center;
}

.header p {
  margin-bottom: 1.3em;
}

.headerForm,
.headerForm input {
  width: 100%;
}

.headerForm input {
  padding: 0.5em;
}

/* CONTENT */

/* .content {
  gap: 2.5em;
  grid-area: content;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  margin-inline: auto;
  max-width: 80em;
  padding: 1em;
} */

/* .card {
  background-color: var(--appListItemBackgroundColor);
  border-radius: 0.25em;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cardImage {
  position: relative;
}

.cardImage img {
  cursor: pointer;
  height: auto;
  width: auto;
}

.cardContent {
  background: var(--appListItemContentBackground);
  padding: 1em;
}

.cardTitle,
.cardDescription {
  color: var(--appTextColor);
}

.cardTitle {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.cardDescription {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.25em;
}

.cardButton {
  background: var(--appListItemButtonBackgroundColor);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: var(--anchorColor);
  cursor: pointer;
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.8em;
  text-transform: uppercase;
  width: 100%;
}

.cardButton:hover,
.cardButton:focus {
  background-color: var(--appListItemButtonHoverBackgroundColor);
} */

@media only screen and (min-width: 800px) {
  .container {
    grid-template-areas: "nav sidebar content";
    grid-template-columns: minmax(6em, 6em) minmax(15em, 15em) 1fr;
    grid-template-rows: 100vh;
  }

  /* MAIN NAV */

  .mainNav,
  .sidebar {
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
  }

  .mainNav::-webkit-scrollbar,
  .sidebar::-webkit-scrollbar {
    display: none;
  }

  .mainNav ul,
  .sidebar div {
    flex-direction: column;
  }

  .mainNav li:first-child {
    margin-bottom: 2em;
    position: relative;
  }

  .mainNav li:first-child:after {
    background-color: var(--baseColor);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 125%;
    width: 100%;
  }

  .mainNav li:last-child {
    margin-top: 2em;
    position: relative;
  }

  .mainNav li:last-child:after {
    background-color: var(--baseColor);
    bottom: 125%;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  /* SIDEBAR */

  .sidebar {
    padding: 1em 1.5em;
  }

  .sidebar h2 {
    font-size: 1.5rem;
    text-align: left;
  }

  .sidebar div {
    gap: 0;
  }

  .sidebar button {
    background-color: transparent;
    border: 0;
    color: white;
    padding: 0.5em 1em;
    text-align: left;
  }

  /* CONTENT */

  .content {
    padding: 3em 6em;
  }

  /* HEADER */

  .header {
    padding: 3em 0;
  }
}
