@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");

:root {
  --baseColor: #606468;
  --primaryColor1: #ea4c88;
  --primaryColor2: #d44179;

  --htmlFontSize: 100%;
  --bodyBackgroundColor: #2c3338;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: "Maven Pro", "Open Sans";
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;

  --anchorColor: white;

  --authIconFill: var(--baseColor);
  --authFormGap: 0.875rem;
  --authBorderRadius: 0.25rem;
  --authColor: #eee;
  --authInputBackgroundColor: #3b4148;
  --authInputHoverBackgroundColor: #434a52;
  --authLabelBackgroundColor: #363b41;
  --authSubmitBackgroundColor: var(--primaryColor1);
  --authSubmitColor: #eee;
  --authSubmitHoverBackgroundColor: var(--primaryColor2);

  --alertBoxSuccessBackgroundColor: #ddf0d7;
  --alertBoxSuccessBorderColor: #a4cd98;
  --alertBoxSuccessTextColor: #1c652c;
  --alertBoxErrorBackgroundColor: #f6ddde;
  --alertBoxErrorBorderColor: #000;
  --alertBoxErrorTextColor: #972a3d;

  --appTextColor: white;
  --appListItemBackgroundColor: #f05f57;
  --appListItemContentBackground: linear-gradient(
    135deg,
    #f05f57 10%,
    #360940 100%
  );

  --appListItemButtonBackgroundColor: transparent;
  --appListItemButtonHoverBackgroundColor: rgba(0, 0, 0, 0.3);

  --loaderBackgroundColor1: #93eee4;
  --loaderBackgroundColor2: #52e2d9;
  --loaderBackgroundColor3: #4ebdc2;
  --loaderBackgroundColor4: var(--primaryColor1);
  --loaderBackgroundColor5: var(--primaryColor2);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* h1,
h2,
h3,
h4 {
  font-family: var(--bodyFontFamilySecondary);
} */

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html {
  font-size: var(--htmlFontSize);
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Set core link defaults */
a {
  color: var(--anchorColor);
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
