@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");

:root {
  --baseColor: #606468;

  --htmlFontSize: 100%;
  --bodyBackgroundColor: #2c3338;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: "Maven Pro", "Open Sans";
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;

  --anchorColor: #eee;

  --authIconFill: var(--baseColor);
  --authFormGap: 0.875rem;
  --authBorderRadius: 0.25rem;
  --authColor: #eee;
  --authInputBackgroundColor: #3b4148;
  --authInputHoverBackgroundColor: #434a52;
  --authLabelBackgroundColor: #363b41;
  --authSubmitBackgroundColor: #ea4c88;
  --authSubmitColor: #eee;
  --authSubmitHoverBackgroundColor: #d44179;

  --alertBoxSuccessBackgroundColor: #ddf0d7;
  --alertBoxSuccessBorderColor: #a4cd98;
  --alertBoxSuccessTextColor: #1c652c;
  --alertBoxErrorBackgroundColor: #f6ddde;
  --alertBoxErrorBorderColor: #000;
  --alertBoxErrorTextColor: #972a3d;
}

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var(--htmlFontSize);
}

body {
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-block-size: 100vh;
}

a {
  color: var(--anchorColor);
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}
